@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=clash-grotesk@700,400,600,500&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=clash-display@600&display=swap");

@font-face {
    font-family: icons;
    src: url("shared/assets/fonts/icons.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i {
    font-family: icons !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 0;
}
