html {
    @apply font-inter;
}

.h1-max {
    @apply font-clash;

    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 56.58px;

    @media (min-width: 1024px) {
        font-size: 70px;
        line-height: 86.1px;
    }
}

.h2-max {
    @apply font-clash;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24.6px;

    @media (min-width: 1024px) {
        font-size: 40px;
        line-height: 49.2px;
    }
}

h1,
.h1 {
    @apply font-clash;

    font-size: 41px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.697px;
    text-transform: uppercase;
}

h2,
.h2 {
    @apply font-clash;

    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
}

h3,
.h3 {
    @apply font-clash;

    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.34px;
}

.title-lg-clash-display {
    font-family: var(--font-family-thirdity);
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.408px;
}

.title-lg-inter {
    @apply font-inter;

    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

h4,
.title-lg {
    font-family: var(--font-family-secondary);
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

h5,
.title-sm {
    font-family: var(--font-family-secondary);
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.text-label-lg-bold {
    @apply font-clash font-bold;

    font-size: 18px;
}

.text-label-lg {
    @apply font-clash font-normal;

    font-size: 17px;
}

.text-label-md {
    @apply font-clash font-normal;

    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
}

.text-label-sm {
    @apply font-clash font-normal;

    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.text-body-lg {
    font-size: 16px;
    line-height: 24px;
}

.text-body-md {
    line-height: 20px;
}

.text-body-sm {
    line-height: 16px;
}

.caption-lg {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.caption-md-semibold {
    font-size: 12px;
    font-weight: 600;
    line-height: 14.52px;
    text-transform: uppercase;
}

.caption-md {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}

.caption-sm {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
