$colors: (
    "primary":                                    #3d73f2,
    "secondary":                                  #26ff54,
    "success":                                    #0dc268,
    "danger":                                     #ed0a34,
    "orange":                                     #ed9020,
    "outline":                                    #233151,
    "dark":                                       #000717,
    "lightgray":                                  #d9d9d9,
    "effects-blue":                               #59cdf1,
    "effects-green":                              #26ff54,
    "effects-pink":                               #af5fff,
    "blueline":                                   #b6e9f9,
    "secondaryline":                              #95eea9,
    "pinkline":                                   #f9b6f4,
    "link":                                       #3d73f2,
    "link-visited":                               #6c98ff,
    "content-white":                              #fff,
    "content-secondary":                          #8ca0cf,
    "content-colorful":                           #001011,
    "surface":                                    #0b2a41,
    "surface-dark":                               #08182e,
    "icon":                                       #fff,
    "icon-orange":                                #ed9020,
    "icon-colorful":                              #001011,
    "icon-secondary":                             #8ca0cf,
    "state-disabled":                             #081e2f,
    "state-pressed":                              #081d2c,
    "state-hover":                                #153349,
    "state-overlay":                              rgb(0 7 23 / 76%),
    "state-primary-hover":                        rgb(47 98 217 / 100%),
    "state-primary-pressed":                      rgb(25 69 173 / 100%),
    "state-primary-disabled":                     rgb(41 78 164 / 100%),
    "state-secondary-hover":                      rgb(19 198 57 / 100%),
    "state-secondary-pressed":                    rgb(18 157 48 / 100%),
    "state-secondary-disabled":                   rgb(0 82 17 / 100%)
);
$icons: (
    "icon-animation": "\e900",
    "icon-arrow-box-down": "\e901",
    "icon-arrow-box-up": "\e902",
    "icon-arrow-down": "\e903",
    "icon-arrow-left": "\e904",
    "icon-arrow-right": "\e905",
    "icon-arrow-up": "\e906",
    "icon-ball": "\e907",
    "icon-ban": "\e908",
    "icon-bell": "\e909",
    "icon-bless": "\e90a",
    "icon-book": "\e90b",
    "icon-bot": "\e90c",
    "icon-chatbox": "\e90d",
    "icon-check-circle": "\e90e",
    "icon-check": "\e90f",
    "icon-chevron-down": "\e910",
    "icon-chevron-left": "\e911",
    "icon-chevron-right": "\e912",
    "icon-chevron-up": "\e913",
    "icon-clock": "\e914",
    "icon-cog": "\e915",
    "icon-coin": "\e916",
    "icon-coins": "\e917",
    "icon-copy": "\e918",
    "icon-coupon": "\e919",
    "icon-diamond-outline": "\e91a",
    "icon-diamond": "\e91b",
    "icon-dice": "\e91c",
    "icon-discord": "\e91d",
    "icon-dots": "\e91e",
    "icon-equal": "\e91f",
    "icon-exclamation-circle": "\e920",
    "icon-exit": "\e921",
    "icon-face": "\e922",
    "icon-gamepad": "\e923",
    "icon-grid": "\e924",
    "icon-headphones": "\e925",
    "icon-history": "\e926",
    "icon-home": "\e927",
    "icon-info": "\e928",
    "icon-kick": "\e929",
    "icon-loading-circle": "\e92a",
    "icon-lock": "\e92b",
    "icon-lootbox": "\e92c",
    "icon-magnifier": "\e92d",
    "icon-menu-arrow-left": "\e92e",
    "icon-menu-close": "\e92f",
    "icon-menu-open": "\e930",
    "icon-microphone-muted": "\e931",
    "icon-nft": "\e932",
    "icon-open-side-menu": "\e933",
    "icon-play": "\e934",
    "icon-plus": "\e935",
    "icon-question": "\e936",
    "icon-rakeback": "\e937",
    "icon-reply-arrow": "\e938",
    "icon-rocket": "\e939",
    "icon-send": "\e93a",
    "icon-shield-check": "\e93b",
    "icon-sound-off": "\e93c",
    "icon-sound-on": "\e93d",
    "icon-staking": "\e93e",
    "icon-star-smile": "\e93f",
    "icon-star": "\e940",
    "icon-trash": "\e941",
    "icon-trend": "\e942",
    "icon-triangle-circle": "\e943",
    "icon-triangle-down": "\e944",
    "icon-triangle-up": "\e945",
    "icon-twitter": "\e946",
    "icon-user": "\e947",
    "icon-users": "\e948",
    "icon-warning": "\e949",
    "icon-xmark": "\e94a",
    "icon-edit": "\e94b",
    "icon-retweet": "\e94c",
    "icon-comment": "\e94d",
    "icon-telegram": "\e94e",
    "icon-social-x": "\e94f",
    "icon-check-list": "\e950",
    "icon-percents": "\e951"
)
