.Plinko {
    position: relative;
    width: 280px;
    height: 243px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgyIiBoZWlnaHQ9IjI0NCIgdmlld0JveD0iMCAwIDI4MiAyNDQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMy4yMTE2NyAyNDNIMjc4Ljc4N0MyNzkuMzg0IDI0MyAyODEuMjc3IDI0Mi4yIDI4MC45NjYgMjQxLjU1N0wxNjcuNTU5IDMuNzIxMDZDMTY3LjE0NyAyLjg1MTcxIDE2Ni41MDcgMSAxNjUuMzggMUgxMTYuNjE4QzExNS40OTEgMSAxMTQuODUyIDIuODUxNzEgMTE0LjQzOSAzLjcyMTA2TDEuMDMyNzEgMjQxLjU1N0MwLjcyOTg0NSAyNDIuMiAyLjYxNDM1IDI0MyAzLjIxMTY3IDI0M1oiIGZpbGw9IiMxMjI5M0IiIHN0cm9rZT0iI0FBNEIyMyIgc3Ryb2tlLW1pdGVybGltaXQ9IjIyLjkyNTYiLz4KPC9zdmc+Cg==");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.scene {
    width: 100%;
    height: 100%;
}

.btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    position: relative;
    z-index: 2;
    top: -20px;
}

.bucketBtn {
    max-width: 26px;

    img {
        width: 100%;
        max-width: 100%;
    }
}

.playBtn {
    min-width: 162px;
    padding: 11px 24px !important;
    background-color: #AA4B23;
    border-radius: 4px;
    border: 2px solid #FBE3A5 !important;
    margin-top: 34px;
}
