.Modal {
    background: rgb(0 0 0 / 70%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.overlay {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--modal-z-index);
    transition: all 0.3s ease-in-out;

    .content {
        transform: scale(1);
        transition: all 0.3s ease-in-out;
    }
}

.content {
    display: flex;
    align-items: center;
    margin: 30px 0;
    transition: all 0.3s ease-in-out;
}
