footer {
    @apply text-icon-secondary flex sm:flex-row flex-col-reverse gap-8 px-0 py-9;

    border-top: 1px solid #ffffff;
}

a {
    @apply duration-100;

    &:hover {
        @apply text-effects-blue duration-75;
    }
}

.footer__link {
    color: inherit !important;

    &:hover {
        color: var(--effects-blue) !important;
    }
}

.footer__logo {
    max-width: 339px;
}