.mobSidebarButtons {
    display: flex;
    align-items: center;
}

.mobSidebarButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobSidebarBar {
    display: flex;
    justify-content: center;
}
