.item {
    font-weight: var(--font-medium);
    border: 2px solid var(--content-secondary);
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
}

.itemActive {
    color: var(--outline);
    background-color: var(--content-secondary);
}
