.lobby-bless-item-linear-bg {
    background: linear-gradient(270deg, #031827 0%, #0B2A42 100%);
    border-radius: 16px;

    &.dark {
        &::after {
            background: var(--bg-color);
        }
    }

    img {
        position: relative;
        scale: 0.9;
        top: -20px;

        @media (max-width: 769px) {
            scale: 0.7;
            top: -25px;
        }
    }
}

