.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rowItem {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.rowsContent {
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.rowImg {
    min-width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        top: auto;
        scale: 1;
    }
}

.userName {
    min-width: 150px;
    text-align: left;
    justify-content: flex-start;
    padding-left: 10px;

    @media (min-width: 768px) {
        min-width: auto;
        text-align: center;
        justify-content: center;
        padding-left: 0;
    }
    & > div {
        &:not(.rowImg) {
            min-width: 135px;
            text-align: left;
        }
    }
}

.rowContentSurface {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 12px;
    overflow-x: hidden;
    background-color: #000717;
    padding: 8px 10px;

    &:before {
        display: none;
    }

    .userName {
        padding-left: 0;
    }

    .points {
        color: var(--success);
    }
}

.pointsWrapper {
    background: linear-gradient(270deg, #031827 0%, #0B2A42 100%);
    border-radius: 16px;
    padding: 8.5px 16px;
}

.usersIcon {
    fill: var(--white);
}

.point {
    font-weight: var(--font-medium);
}
