.helloTitle {
    font-family: var(--font-family-secondary);
    font-size: 38px;
    line-height: 46px;
    font-weight: var(--font-semibold);
}

.accountInfo {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.openLogoutBtn {
    padding: 0 !important;
}

.openSideIcon {
    font-size: 36px;
    color: var(--content-secondary);
}

.userText {
    font-weight: var(--font-medium);
}

.pointsWrapper {
    border: 1px solid var(--white);
    border-radius: 32px;
    padding: 8px 10px;
    margin-top: 44px;
}

.statsIcon {
    font-size: 39px;
}

.statsItem {
    background: linear-gradient(270deg, #031827 0%, #0B2A42 100%);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 38px 10px;
}
