.RainySpeenWinTable {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-family: var(--font-family-thirdity);
    font-size: 25px;
    line-height: 28px;
}

.subtitle {
    font-size: 14px;
    line-height: 16px;
    color: var(--content-secondary);
}

th,
td {
    border: 2px solid var(--white);
    padding: 7px;
    color: var(--white);
    font-size: 10px;

    @media (min-width: 450px) {
        font-size: 12px;
    }
}
