.RainySpeen {
    position: relative;
    background-color: #04091b;
    min-height: 100vh;
    width: 100vw;
    left: -20px;
    z-index: 2;

    @media (min-width: 1024px) {
        left: -64px;
    }
}

.game {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
        top: 48px;
        background-image: url('shared/assets/icons/png/speen-pc-bg.png');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    img {
        height: 100%;
    }
}

.startBtn {
    position: absolute;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 320 / 278;

    img {
        width: 100%;
        max-width: 100%;
    }
}

.screen {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.items {
    width: 56px;
    background-image: url('shared/assets/icons/png/speen-items.png');
    background-position: center center;
    background-repeat: repeat-y;
    background-size: contain;
    position: relative;
    top: -2053px;
}

.borderWin {
    transform: rotateY(180deg);
}
