body {
    overflow-x: hidden;
}

.app-game-bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -11;

    img {
        width: 100%;
        min-height: 900px;
        object-fit: cover;
    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 30px;
        left: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgb(8 7 23 / 0%) 0, var(--bg-color));
    }
}

.app-crash-bg {
    max-height: 1020px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    width: 4350px;
    height: 100vh;
    min-height: 315px;

    @media (max-width: 769px) {
        max-height: 900px;
    }

    @media (max-width: 560px) {
        max-height: 800px;
    }


    &::before {
        display: none;
    }
}
