@keyframes crash-bg-before-start-animate {
    60% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1500px);
    }
}

@keyframes crash-bg-start-animate {
    0% {
        transform: translate(-1500px, 0);
    }

    10% {
        transform: translate(-1600px, 550px);
    }

    20% {
        transform: translate(-1700px, 1100px);
    }

    30% {
        transform: translate(-1800px, 1650px);
    }

    40% {
        transform: translate(-1900px, 2200px);
    }

    50% {
        transform: translate(-2000px, 2750px);
    }

    60% {
        transform: translate(-2100px, 3300px);
    }

    70% {
        transform: translate(-2150px, 3850px);
    }

    80% {
        transform: translate(-2200px, 4400px);
    }

    90% {
        transform: translate(-2250px, 4950px);
    }

    100% {
        transform: translate(-2300px, 5500px);
    }
}

.beforeGameStartedAnim {
    img {
        animation: crash-bg-before-start-animate 10s linear forwards;
    }
}

.gameStartedAnim {
    img {
        transform: translate(-1500px, 0);
        animation: crash-bg-start-animate 20s linear forwards;
    }
}

.gameFinishedBg {
    img {
        transform: translate(-2300px, 5500px);
    }
}
