.userText {
    color: var(--content-secondary);
}

.tweetImg {
    height: 100%;

    img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.greenBg {
    background: linear-gradient(90deg, #041827 0%, #004d11 99.46%);
    position: relative;
    padding: 20px 13px;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        border: 1px solid var(--secondary);
        top: 0;
        left: 0;
    }
}

.inputAddress {
    color: var(--content-secondary);
}
