.indicators {
    @apply px-5 py-4 rounded-full;

    background: linear-gradient(180deg, #031827 0%, #0b2a41 100%);
}

.indicator {
    @apply w-2 h-2 bg-icon-secondary rounded-full duration-300;

    &.active {
        @apply bg-white;

        box-shadow: 0 0 4px var(--primary), 0 0 4px 0.5px var(--effects-pink);
    }
}

.buttonArrow {
    background: linear-gradient(45deg, #010910 0%, #041828 100%);
}

.bg-surface {
    border: 3px solid #051D30;
}

.descrText {
    color: var(--content-secondary) !important;
}

.taskItem {
    width: 100%;

    @media (min-width: 768px) {
        width: calc(33.33333% - 24px);
    }

    @media (min-width: 1024px) {
        width: calc(25% - 48px);
    }
}
