.GamesHistoryContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.arrow {
    min-width: 36px;
    height: 100%;
}

.arrowIcon {
    font-size: 24px;
}

.titleSettings {
    @media (max-width: 560px) {
        width: 100%;
    }
}

.titleBlock {
    @media (max-width: 560px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
}

.titleSwitcher {
    @media (max-width: 560px) {
        flex: 1;
    }
}
