.translate-right {
    animation: slideRight 0.5s cubic-bezier(0.45, 0, 0.55, 1) forwards;
    animation-delay: 2600ms;
}

@keyframes slideRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.translate-left {
    animation: slideLeft 0.5s cubic-bezier(0.45, 0, 0.55, 1) forwards;
    animation-delay: 2600ms;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}
