.GamesPage {
    padding: 0 50px;

    @media (max-width: 767px) {
        padding: 0;
    }
}

.gameName {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    padding: 19px;

    & > div {
        position: relative;
        z-index: 2;
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background: rgba(0,0,0,0.2);
    }
}

.link {
    img {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
    }
}
