.headerMenuItem {
    gap: 44px;

    @media (max-width: 1279px) {
        gap: 16px;
    }
}

.headerMenuLogo {
    @media (max-width: 1279px) {
        scale: 0.7;
        top: -24px !important;
        left: calc(50% - 32px) !important;
    }
}

.mobSidebarButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 80;

    @media (max-width: 767px) {
        position: fixed;
    }
}

.mobSidebarBar {
    display: flex;
    justify-content: center;
}

.headerLogo {
    height: 160px;
    position: relative;
    top: -7px;
}

.money {
    font-family: var(--font-family-secondary);
    font-weight: var(--font-medium);
}

.name {
    font-family: var(--font-family-secondary);
    font-size: 14px;
    line-height: 19px;
    font-weight: var(--font-medium);
}
