.headerMenuItem {
    gap: 44px;

    @media (max-width: 1279px) {
        gap: 16px;
    }
}

.headerMenuLogo {
    @media (max-width: 1279px) {
        scale: 0.8;
        top: -17px !important;
    }
}

.mobSidebarButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 80;

    @media (max-width: 767px) {
        position: fixed;
    }
}

.mobSidebarBar {
    display: flex;
    justify-content: center;
}

.headerLogo {
    height: 160px;
    position: relative;
    top: -7px;
}
