@keyframes flashing-light {
    50% {
        transform: scale(0.8);
    }
}

.RainySpeenWinModal {
    font-size: 95px;
    line-height: 110px;
    font-family: var(--font-family-thirdity);
    font-weight: 700;
    position: absolute;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #c3ff89;
    text-shadow: -1px 1px 9px rgba(195,255,137,0.74);
    opacity: 0;
    visibility: hidden;
    z-index: -1;

    &:before {
        content: '';
        width: 90vw;
        height: 90vw;
        -webkit-box-shadow: 0px 0px 85px 30px rgba(25, 69, 173, 1);
        -moz-box-shadow: 0px 0px 85px 30px rgba(25, 69, 173, 1);
        box-shadow: 0px 0px 85px 30px rgba(25, 69, 173, 1);
        background-color: rgba(25, 69, 173, 0.72);
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        animation: flashing-light 0.6s linear infinite;
        transition: all 0.3s ease-in-out;
    }
}

.visible {
    opacity: 1;
    visibility: visible;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

.winText {
    font-size: 135px;
    line-height: 145px;
    height: 154px;
    display: flex;
    align-items: center;
    margin-bottom: -20px;
}
