.TextBlock {
    padding: 2px 8px;
    border-radius: 8px;
    background: var(--surface);
}

.blue {
    background: var(--primary);
}

.orange {
    background: #ff9e00;
    color: var(--content-colorful);
}
