.MobileMenu {
    position: fixed;
    left: 8px;
    bottom: 15px;
    background-color: var(--outline);
    width: calc(100vw - 16px);
    z-index: 100;
    padding: 5vw;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 5vw;
    border-radius: 80px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex: 1;

    i {
        font-size: 6.25vw;
        color: var(--content-secondary);
        transition: color 0.2s ease-in-out;
    }

    .usersIcon {
        fill: var(--content-secondary);
        transition: color 0.2s ease-in-out;
    }

    &:hover {
        i {
            transition: color 0.2s ease-in-out;
            color: var(--white);
        }

        .usersIcon {
            fill: var(--white);
            transition: color 0.2s ease-in-out;
        }
    }

}

.itemActive {
    i {
        color: var(--white);
    }

    .usersIcon {
        fill: var(--white);
    }
}

.itemText {
    font-size: 10px;
    line-height: 12px;
}
