.MobileMenu {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    background-color: var(--outline);
    width: calc(100vw - 16px);
    max-width: 768px;
    z-index: 100;
    padding: 22px 15px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 16px;
    border-radius: 80px;

    @media (max-height: 639px) {
        padding: 15px 10px;
        bottom: 10px;
        gap: 8px;
    }
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex: 1;

    @media (max-height: 639px) {
        gap: 4px;
    }

    i {
        font-size: 24px;
        color: var(--content-secondary);
        transition: color 0.2s ease-in-out;
    }

    .usersIcon {
        fill: var(--content-secondary);
        transition: color 0.2s ease-in-out;
    }

    &:hover {
        i {
            transition: color 0.2s ease-in-out;
            color: var(--white);
        }

        .usersIcon {
            fill: var(--white);
            transition: color 0.2s ease-in-out;
        }
    }

}

.itemActive {
    i {
        color: var(--white);
    }

    .usersIcon {
        fill: var(--white);
    }
}

.itemText {
    font-size: 10px;
    line-height: 12px;
}
