.MobileMenu {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: var(--surface-second);
    width: 100vw;
    z-index: 100;
    padding: 5vw;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 5vw;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25vw;
    flex: 1;

    i {
        font-size: 6.25vw;
        transition: color 0.2s ease-in-out;
    }

    &:hover {
        i {
            transition: color 0.2s ease-in-out;
            color: var(--primary);
        }
    }

}

.itemActive {
    i {
        color: var(--primary);
    }
}

.itemText {
    font-family: var(--font-family-fourdity);
    font-size: 3.75vw;
    line-height: 5vw;
}
